/* css styles */


body {
  background-color: #e6f2ff; /* soft light blue */
}

/* Navbar background and text color */
.navbar {
  background-color: #dbe9f4 !important; /* Soft blue-grey */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #0b355d !important; /* Dark navy */
}
